@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Karla", sans-serif;
    font-size: 14px;
}

main {
    height: 100vh;
    width: min(100%, 48rem);
    margin: auto;
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 2rem;
    padding-inline: 1rem;
    padding-block: 2rem;
}

section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.searchbar-anchor {
    position: relative;
    height: 3.5rem;
}

.searchbar-container {
    position: absolute;
    background: white;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    width: 100%;
    min-height: 1.6rem;
    border-radius: 1.6rem;
    overflow: hidden;
}

.searchbar { 
    color: #202124;
    display: flex;
    gap: 1rem;
    width: 100%;
    align-items: center;
    padding: 0.8rem;
}

.searchbar-container:hover {
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border-color: rgba(223,225,229,0);
}

.search-icon {
    margin-top: 3px;
    height: 1.6rem;
    width: 1.6rem;
    padding-bottom: 4px;
}

.searchbar-input {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, .87);
    word-wrap: break-word;
    outline: none;
    max-width: 100%;
    width: 100%;
    font-size: 1rem;
}

.searchbar-results {
    display: flex;
    flex-direction: column;
}

.searchbar-result-item, .searchbar-history-item {
    padding-inline: 3.4rem;
    padding-block: 0.8rem;
    font-weight: 600;
    cursor: default;
    background: none;
    border: none;
    text-align: left;
}

.searchbar-history-item {
    display: flex;
    gap: 1rem;
}

.searchbar-history-item-icon {
    width: 1rem;
    height: 1rem;
}

.searchbar-result-item:hover, .searchbar-history-item:hover {
    background-color: #e9ebee;
}

.select-location-banner {
    background: white;
    border: 1px solid #dfe1e5;
    width: 100%;
    padding: 1.2rem;
    border-radius: 1.6rem;
    font-size: 1rem;
}

@media screen and (max-width: 48rem) {
    #locations {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}

.location-card {
    padding: 1.6rem;
    background: white;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    width: 100%;
    border-radius: 1.6rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.location-card-content {
    display: grid;
    gap: 2rem;
    align-items: center;
    grid-template-columns: auto auto 1fr;
}

.location-card-title {
    grid-area: title;
}

.location-card-temperature {
    font-family: Helvetica, sans-serif;
    font-size: 3rem;
    font-weight: 300;
}

.location-card-info {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.location-card-weather-icon {
    width: 6rem;
    height: 6rem;
}

.location-card-weather-data-value {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.location-card-weather-data-icon {
    width: 1rem;
    height: 1rem;
}

.chat-container {
    height: 100%;
    width: min(100%, 48rem);
    margin: auto;
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 2rem;
    padding-inline: 1rem;
    padding-block: 2rem;
}

.chat-input-container {
    background: white;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    width: 100%;
    min-height: 1.6rem;
    border-radius: 1.6rem;
    overflow: hidden;
    color: #202124;
    display: flex;
    gap: 1rem;
    width: 100%;
    align-items: center;
    padding: 1rem;
}

.chat-input-container:hover {
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border-color: rgba(223,225,229,0);
}

.chat-input {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, .87);
    word-wrap: break-word;
    outline: none;
    max-width: 100%;
    width: 100%;
    font-size: 1rem;
}

.chat-send {
    padding: 0;
    width: 1.2rem;
    height: 1.2rem;
    background: none;
    border: none;
    cursor: pointer;
}

.timeframe-input input {
  display: none;
}

.timeframe-input {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    width: 100%;
    min-height: 1.6rem;
    border-radius: 1.6rem;
    overflow: hidden;
    color: #202124;
}

.timeframe-input label {
    width: 100%;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    font-weight: 600;
    letter-spacing: -1px;
    font-size: 14px;
}

.timeframe-input label:has(input:checked) {
    background: #e1e1e1;
}

.chat-message {
    width: 100%;
    display: flex;
}

.chat-message-text {
    margin-left: auto;
    font-size: 1rem;
    padding-inline: 1rem;
    padding-block: 0.5rem;
    background-color: #dfe1e5;
    border-top-left-radius: 0.6rem;
    border-top-right-radius: 0.6rem;
    border-bottom-left-radius: 0.6rem;
    max-width: 75%;
}

.chat-input-container:has(#chat-input-button[waiting="true"]) {
    opacity: 0.4;
}

#messages {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#input {
    position: fixed;
    bottom: 0;
    left: auto;
    right: auto;
    width: min(100%, 48rem);
    padding-inline: 1rem;
    padding-block: 2rem;
    background: #ffffff;
    background: linear-gradient(0deg,rgba(255, 255, 255, 1) 80%, rgba(255, 255, 255, 0) 100%);
}

.hidden {
    display: none !important;
}