*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
}

html {
    background: rgb(224, 231, 239);
}

body {
    background: rgb(224, 231, 239);
    background: radial-gradient(circle,rgb(254, 248, 250) 0%, rgb(224, 231, 239) 100%);
    font-family: arial, sans-serif;
    font-size: 14px;
}

main {
    min-height: 100vh;
}

#home {
    width: min(100%, 48rem);
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-inline: 1rem;
    padding-block: 2rem;
}

.searchbar-anchor {
    position: relative;
    height: 3.5rem;
}

.searchbar-container {
    position: absolute;
    background: white;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    width: 100%;
    min-height: 1.6rem;
    border-radius: 1.6rem;
    overflow: hidden;
}

.searchbar { 
    color: #202124;
    display: flex;
    gap: 1rem;
    width: 100%;
    align-items: center;
    padding: 0.8rem;
}

.searchbar-container:hover {
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border-color: rgba(223,225,229,0);
}

.search-icon {
    margin-top: 3px;
    height: 1.6rem;
    width: 1.6rem;
    padding-bottom: 4px;
}

.searchbar-input {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, .87);
    word-wrap: break-word;
    outline: none;
    max-width: 100%;
    width: 100%;
    font-size: 1rem;
}

.searchbar-results {
    display: flex;
    flex-direction: column;
}

.searchbar-result-item {
    padding-inline: 3.4rem;
    padding-block: 0.8rem;
    font-weight: 600;
    cursor: default;
    background: none;
    border: none;
    text-align: left;
}

.searchbar-result-item:hover {
    background-color: #e9ebee;
}

#locations {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

@media screen and (max-width: 48rem) {
    #locations {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}

.location-card {
    padding: 1.6rem;
    background: white;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    width: 100%;
    border-radius: 1.6rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.location-card-content {
    display: grid;
    gap: 2rem;
    align-items: center;
    grid-template-columns: auto auto 1fr;
}

.location-card-title {
    grid-area: title;
}

.location-card-temperature {
    font-size: 3rem;
    font-weight: 200;
}

.location-card-info {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.location-card-weather-icon {
    width: 6rem;
    height: 6rem;
}

.location-card-weather-data-value {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.location-card-weather-data-icon {
    width: 1rem;
    height: 1rem;
}

.location-card-chat-link {
    padding: 0.6rem 1rem;
    border: none;
    outline: none;
    background: rgb(27, 174, 204);
    color: #eee;
    border-radius: 999rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.25s ease-out;
}

.hidden {
    display: none;
}